<footer id='footer' class='footer-bottom'>
    <div class='max-w-6xl mx-auto px-8'>
        <div class='flex'>
            <div class='w-full sm:w-1/2'>
                <div class='copyright'>
                  <p>Copyright © Playinsight. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
    <div>
      <%= link_to "利用規約", terms_path, class: "text-sm text-slate-500 hover:underline" %>
    </div>
    <div>
      <%= link_to "プライバシーポリシー", privacy_path, class: "text-sm text-slate-500 hover:underline" %>
    </div>
</footer>